# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# env file
.env
.env.local
.env.*.local
!.env.example

# Editor/IDE
.idea/
.vscode/

# Node stuff
dist/
dist-ssr/
build/
node_modules/
.vite/
coverage/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
